.drawbar {
	width: 20px; height: 80px; appearance: slider-vertical; transform: rotate(180deg);
}
.other-slider {
	width: 100px; height: 20px;
}
.control-container {
	white-space: nowrap;
}
.control-cell {
	vertical-align: top; padding: 10px;
}
.drawbarCell {
	border: none;
	text-align: center;
	vertical-align: top;
}
.drawbarTable {
	border-collapse: collapse;
}
